L4_report_generator/schemas/fiu_ind_schema.xsd

<!-- Placeholder for FIU-IND XSD Schema -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- The actual FIU-IND schema would be placed here -->
    <!-- This is a simplified placeholder -->
    <xs:element name="report">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="transaction">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="amount" type="xs:decimal"/>
                            <xs:element name="sender" type="xs:string"/>
                            <xs:element name="receiver" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
